<div class="small_card" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.2)), url('https://images.unsplash.com/photo-1455621481073-d5bc1c40e3cb?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=8da45f0fbede6fba674674a857e3b7d9'); background-size: cover">
  <div class="text-center" class="card-description">
    <h2><%= cocktail.name %></h2>

  </div>
  <%= link_to "", cocktail_path(cocktail), class: "card-link" %>
</div>





