<body id="homepage">
  <h2 class="text-center">Welcome to Sazerac Ultimate Cocktail Guide ! </h2>


<div class="container">
  <div class="row">
    <div class="col-xs-12 col-lg-6">
      <%= render 'cocktails/cocktail_small_card', cocktail: @cocktail %>
    </div>
  </div>
</div>

</body>
